.about-container {
    background-color: white;
}
.about-container-title {
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 2px;
    color: #111;
    margin-bottom: 5rem;

}
.about-container-title::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 3rem;
    background: #333;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 5px;
}
.about-title {
    
}
.about-text {
    max-width: 55rem;
    color: #666;
    font-size: 1.2rem;
}

.row {
    margin-bottom: 2rem;
}

.technology-name {
    font-size: 1.5rem;
    color: #333;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 0rem 3rem;
}

.proficiency-dots {
    display: flex;
    justify-content: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 5px;
}

.dot.filled {
    background-color: #333;
}
